<div ng-app="App" ng-controller="AppointmentController">
            <!-- <div class="col py-3"> -->

            <h3 class=" mt-5 text-lg-center">Appointment Booking</h3>
    
    
    <div class="card bg-white text-dark">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-4">
            <div style=" margin-top: 3%; margin-left: 5%;">
                <h5> Date</h5>
          <div class="col">
            <div class="input-group flex-nowrap">
              <input type="text" class="p-3 form-control border" ng-model="date" placeholder="Date" aria-label="date" aria-describedby="addon-wrapping">
            </div>
            </div>
            </div>
            <div style="margin-left: 8%; margin-top: 3%;">
                <h5>Department :-</h5>
                <div class="input-group flex-nowrap">
                  <select class="p-3 form-select " ng-model="selectdepartment" style="width: 100%;" aria-label="Default select example">
                    <option selected>Select Department</option>
                    <option value="{{depart.id}}" ng-repeat="depart in departs" ng-click="selectdeapart(depart)">{{depart.departments}}</option>
                      </select>                
                 </div>
            </div>
    
    
            <div style="margin-top: 3%; margin-left: 8%;">
                <h5>Doctors :-</h5>
                <div class="input-group flex-nowrap">
                  <select class="p-3 form-select " ng-model="selectcategory" style="width: 100%;" aria-label="Default select example">
                    <option selected>Select A Doctor</option>
                    <option value="{{category.user__first_name + ' ' + category.user__last_name}}" ng-repeat="category in categories">Dr. {{category.user__first_name + ' ' + category.user__last_name}}</option>

                    
                  </select>                
                 </div>
            </div>

            <div style="margin-top: 3%; margin-left: 5%;">
              <h5>Time :-</h5>
              <div class="input-group flex-nowrap">
                <select class="p-3 form-select " ng-model="time" style="width: 100%;" aria-label="Default select example">
                  <option selected>Choose a time</option>
                  <option value="9 to 12" >9am to 12 noon</option>
                  <option value="5 to 8" >5pm to 8 pm</option>


                  
                </select>                
               </div>
          </div>
  
    
    
         </div>
         <button type="button" class="btn btn-success mb-3" ng-click="appoint()" style="margin-left: 45%; width: 15%; height: 50px;">Book Appointment</button>
          
         </div>
    <!-- </div> -->
 </div>