<div ng-app="App" ng-controller="AppointmentController">
            <!-- <div class="col py-3"> -->

            <h3 class=" mt-5 text-lg-center">Appointment Booking</h3>
    
    
    <div class="card bg-white text-dark">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-4">
            <div style=" margin-top: 3%; margin-left: 5%;">
                <h5> Date</h5>
          <div class="col">
            <div class="input-group flex-nowrap">
              <input type="date" class="p-3 form-control border" id="dateInput" ng-model="date" ng-change="updateDate()" aria-label="date" aria-describedby="addon-wrapping">

            </div>
            </div>
            </div>
            <div style="margin-left: 8%; margin-top: 3%;">
                <h5>Department :-</h5>
                <div class="input-group flex-nowrap">
                  <select class="p-3 form-select " ng-model="selectdepartment" style="width: 100%;" aria-label="Default select example" required>
                    <option value="" selected disabled hidden>Department</option>                               
                    <option value="{{depart.id}}" ng-repeat="depart in departs" ng-click="selectdeapart(depart)">{{depart.departments}}</option>
                      </select>                
                 </div>
            </div>
    
    
            <div style="margin-top: 3%; margin-left: 8%;">
                <h5>Doctors :-</h5>
                <div class="input-group flex-nowrap">
                  <select class="p-3 form-select " ng-model="selectcategory" style="width: 100%;" aria-label="Default select example" required>
                    <option value="" selected disabled hidden>Select Doctor</option>                               
                    <option value="{{category.pk}}" ng-repeat="category in categories" ng-click="selectcat(category)">Dr. {{category.first_name + ' ' + category.last_name}}</option>
                  </select>                
                 </div>
            </div>

            <div style="margin-top: 3%; margin-left: 5%;">
              <h5>Time :-</h5>
              <div class="input-group flex-nowrap">
                <select class="p-3 form-select " ng-model="time" style="width: 100%;" aria-label="Default select example">
                  <option value="" selected disabled hidden>Choose a Slot</option>                               
                  <option value="{{slot.slots}}" ng-repeat="slot in slots">{{slot.slots}}</option>
                </select>                
               </div>
          </div>

          <div style="margin-top: 3%; margin-left: 8%;">
            <h5>Payment :-</h5>
            <div class="input-group flex-nowrap">
              <select class="p-3 form-select " ng-model="payment" style="width: 100%;" aria-label="Default select example" required>
                <option value="" selected disabled hidden>Payment</option>                               
                <option value="confirm" >Confirm</option>
              </select>                
             </div>
        </div>

        <div style=" margin-top: 3%; margin-left: 8%;">
          <h5>Symptoms :- </h5>
      <div class="col">
      <div class="input-group flex-nowrap">
        <input type="text" class="p-3 form-control border" ng-model="symptoms" placeholder="Symptoms" aria-label="date" aria-describedby="addon-wrapping" required>
      </div>
      </div>
     </div>

     <div class="spinner-border" role="status" ng-show="loader">
      <span class="visually-hidden">Loading...</span>
    </div>

     <div style="margin-left: 45%; margin-top: 2%; margin-bottom: 2%;">
      <button class="btn btn-outline-danger" ng-click="appoint()" style="height: 50px;">Book</button>
     </div>

    <!-- </div> -->
 </div>


 
 
 </div>
 