<div ng-app="myApp" ng-controller="DoctRecordController">
    <div class="col mt-lg-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 style="font-size: 40px;">Records</h3>
                </div>
                <div class="col">
                    <input class="form-control me-2"  type="search" placeholder="Search" ng-model="search" aria-label="Search">
                </div>
                  <div class="col" >
                    <button class="btn btn-outline-success" style="float: right;" ng-click="exportToExcel()">Export to Excel</button>
                  </div>
                </div>
            </div>
    
            <hr>
    
            <table class="table caption-top ">
               <thead class="bg-dark table-dark">
                 <tr>
                    <th scope="col">Index</th>
                   <th scope="col">Name</th>
                   <th scope="col">Age</th>
                   <th scope="col">Gender</th>
                   <th scope="col">Checked By</th>
                   <th scope="col">Department</th>
                   <th scope="col">Appointment Date</th>
                   <th scope="col">Checkup Date</th>
                   <th scope="col">Prescription</th>
                   <!-- <th scope="col">Visits</th> -->
                 </tr>
               </thead>
               <tbody>
                 <tr ng-repeat="record in records | filter:search">
                    <th scope="row">{{$index + 1}}</th>
                   <td>{{record.patient__first_name + " " + record.patient__last_name}}</td>
                   <td>{{record.patient__age}}</td>
                   <td>{{record.patient__gender}}</td>
                   <td>Dr. {{record.doctor__first_name + " " + record.doctor__last_name}}</td>
                   <td>{{record.department__departments}}</td>
                   <td>{{record.appointmentDate}}</td>
                   <td>{{record.checkup_date}}</td>
                   <td>

                    <button class="btn btn-outline-danger" ng-click="view(record)" style="margin-bottom: 1%;" data-bs-toggle="modal" data-bs-target="#myModal">View</button>

                    <div class="modal" id="myModal">
                     <div class="modal-dialog modal-xl">
                       <div class="modal-content modal-lg">
                   
                         <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

                   
                         <div class="modal-body">
                          
                           <div id="pdfdownload">
                             <div class="card text-center">
                             <div class="card-header" style="font-size: 25px;">
                               Prescription
                             </div>
                             <div class="card-body">
                               <img class="img" src="https://i.pinimg.com/736x/5c/1c/bb/5c1cbb117db80b6f52740f44bc54c5c3.jpg" alt="" width="250" height="200">
                               <div class="text" style="margin-top: 3%;" ng-repeat="doctor in prescription.doctor"> 
                               <label ><h3>Doctor Name : {{doctor. first_name + " " + doctor. last_name}}</h3></label> <br><br>
                               <label ><h5>Qualification : {{doctor.qualification}}</h5></label> <br><br>
                               <label ><h5>Contact No. : {{doctor.contact}}</h5></label>
                               </div>
                             </div>
                             <hr>
                             <div class="card-body">
                               <div class="text" ng-repeat="patient in prescription.patient">
                                 <div class="row"> 
                                   <div class="col">
                               <label ><h5>Patient Name : {{patient.first_name + " " + patient.last_name}}</h5></label></div> <br><br>
                                 <div class="col">
                               <label ><h5>Gender : {{patient.gender}}</h5></label> </div><br><br>
                               <div class="col">
                                 <label ><h5>Age : {{patient.age}}</h5></label> </div><br><br>
                               </div>
                                 </div>
                               </div>
                             </div>
                           
                           
                           <form style="margin-top: 3%;">  
                             <div class="row row-cols-2 row-cols-lg-3">
                               <table class="table caption-top">
                                 <thead class="bg-dark">
                                   <tr>
                                     <th scope="col">Index</th>
                                     <th scope="col">Medicine</th>
                                     <th scope="col">Dosage</th>
                                     <th scope="col">Quantity</th>
                                     <th scope="col">Timing</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr ng-repeat="patient in prescription.prescription">
                                     <th scope="row">{{$index + 1}}</th>
                                     <td>{{patient.medicine}}</td>
                                     <td>{{patient.dosage}}</td>
                                     <td>{{patient.quantity}}</td>
                                     <td>{{patient.timing}}</td>
                                   </tr>
                                 </tbody>
                               </table>
                              </div>
                             </form>
                             
                           </div>
                           <div>
                             <button type="button" class="btn btn-danger" ng-click="downloadpresc()">Download</button>
                           </div> 
                           
                         </div>
                       </div>
                     </div>
                   </div>  
                   </td>
                 </tr>
               </tbody>
             </table>
        </div>
    </div>
              