<div ng-app="myApp" ng-controller="DoctRecordController">
    <div class="col mt-lg-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 style="font-size: 40px;">Records</h3>
                </div>
                <div class="col">
                <form class="d-flex" style="position: relative; left: 20%;margin-top: 2%;">
                    <input class="form-control me-2"  type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
                <div class="col" >
                    <button type="button" style="position: relative; left: 50%;" class="btn btn-secondary btn-lg">Appointment</button>
                </div>
            </div>
    
            <hr>
    
            <table class="table caption-top ">
               <caption>Records :-</caption>
               <thead class="bg-dark table-dark">
                 <tr>
                    <th scope="col">Index</th>
                   <th scope="col">Name</th>
                   <th scope="col">Age</th>
                   <th scope="col">Gender</th>
                   <th scope="col">Appointment Date</th>
                   <th scope="col">Checkup Date</th>
                   <th scope="col">Prescription</th>
                   <!-- <th scope="col">Visits</th> -->
                 </tr>
               </thead>
               <tbody>
                 <tr ng-repeat="record in doctrecord">
                    <th scope="row">{{$index + 1}}</th>
                   <td>{{record.user__first_name + " " + record.user__last_name}}</td>
                   <td>{{record.user__age}}</td>
                   <td>{{record.user__gender}}</td>
                   <td>{{record.appointmentDate}}</td>
                   <td>{{record.checkup_date}}</td>

              <td><button class="btn btn-outline-info" ng-click="prescribed(record)" type="submit" data-bs-toggle="modal" data-bs-target="#myModal2">Prescription</button>
                <div ng-app="myApp" ng-controller="Modal3Controller">  
                  <div class="modal fade" id="myModal2">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content" >
                  
                        <div class="modal-header">
                          <h3 class="modal-title" style="text-align: center;">HEALTHCARE</h3>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                  
                        <div class="modal-body">
                          <h5 style="text-align: center;"><u>Medical History</u></h5>
                           
                            <div class="row row-cols-2 row-cols-lg-5" >
                              <div style="margin-left: 5%; margin-top: 3%;">
                                  <h6> First Name :-</h6>
                            <div class="col">
                              <div id="name">Sidd</div>
                            </div>
                              </div>
                              <div style="margin-left: 12%; margin-top: 3%;">
                                  <h6>Gender :-</h6>
                            <div class="col">
                              <div id="name">Male</div>
                            </div>
                              </div>
                      
                              <div style="margin-left: 12%; margin-top: 3%;">
                                  <h6>Age :-</h6>
                            <div class="col">
                              <div id="name">16</div>
                            </div>
                              </div>
                      
                              <div style="margin-top: 3%; margin-left: 5%;">
                                  <h6>Height :-</h6>
                            <div class="col">
                              <div id="name">f</div>
                            </div>
                              </div>
                      
                      
                              <div style="margin-left: 12%; margin-top: 3%;">
                                  <h6>Weight :-</h6>
                            <div class="col">
                              <div id="name">kg</div>
                            </div>
                          </div>
                      
                          <div style="margin-left: 12%; margin-top: 3%;">
                              <h6>Blood Group :-</h6>
                            <div class="col">
                              <div id="name">A+</div>
                            </div>
                          </div>

                          <div style="margin-top: 3%; margin-left: 5%;">
                            <h6>Alcoholic :-</h6>
                      <div class="col">
                        <div id="name">Yes</div>
                      </div>
                        </div>
                
                
                        <div style="margin-left: 12%; margin-top: 3%;">
                            <h6>Smoker :-</h6>
                      <div class="col">
                        <div id="name">No</div>
                      </div>
                    </div>
                
                    <div style="margin-left: 12%; margin-top: 3%;">
                        <h6>Symptoms :-</h6>
                      <div class="col">
                        <div id="name">A+</div>
                      </div>
                    </div>
                     </div>

                     <hr>

                     <h5 style="text-align: center;"><u>Prescription</u></h5>                     
                  </div>
                  <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-danger" ng-click="submit(record)" data-bs-dismiss="modal">Submit</button>
                        </div>
                  
                      </div>
                    </div>
                  </div>
                  </div>  
                  <button type="submit" class="btn btn-danger" ng-click="downpdf()">Download</button>
 
              </td>
                   <!-- <td>{{record.date}}</td> -->
                 </tr>
                 <!-- <tr>
                    <th scope="row">2</th>
                   <th scope="row">264484864</th>
                   <td>Jacob</td>
                   <td>Thornton</td>
                   <td>20</td>
                   <td>Female</td>
                   <td>02/05/23</td>
                   <td>4:00 pm</td>
                   <td>25</td>
                 </tr>
                 <tr>
                    <th scope="row">3</th>
                   <th scope="row">36468464</th>
                   <td>Larry</td>
                   <td>the Bird</td>
                   <td>28</td>
                   <td>Male</td>
                   <td>25/02/23</td>
                   <td>6:00 pm</td>
                   <td>12</td>
                 </tr> -->
               </tbody>
             </table>
        </div>
    </div>
              