<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prescription</title>
  <link rel="stylesheet" href="node_modules/sweetalert2/dist/sweetalert2.min.css">
<script src="node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
  <script src="hospital.js"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

  <style>
   .img {
    float: left;
   }
   
  </style>
  <button class="btn btn-outline-danger" ng-click="download()" style="margin-bottom: 1%;">Download</button>
   <div id="pdfdownload">
  <div class="card text-center">
  <div class="card-header" style="font-size: 25px;">
    Prescription
  </div>
  <div class="card-body">
    <img class="img" src="https://i.pinimg.com/736x/5c/1c/bb/5c1cbb117db80b6f52740f44bc54c5c3.jpg" alt="" width="250" height="200">
    <div class="text" style="margin-top: 3%;"> 
    <label for=""><h3>Doctor Name : {{}}</h3></label> <br><br>
    <label for=""><h5>Qualification : {{}}</h5></label> <br><br>
    <label for=""><h5>Contact No. : {{}}</h5></label>
    </div>
  </div>
  <hr>
</div>
<form ng-app="contactsApp" style="margin-top: 3%;">  
  <div class="row row-cols-2 row-cols-lg-3" >
    <p ng-repeat="contact in contacts"></p>
    <table class="table caption-top" id="exportTable">
      <thead class="bg-dark">
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Doctor Preffered</th>
          <th scope="col">Department</th>
          <th scope="col">Day of visit</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="patient in record">
          <th scope="row">{{$index + 1}}</th>
          <td>{{patient.doctor__first_name + " " + patient.doctor__last_name}}</td>
          <td>{{patient.department__departments}}</td>
          <td>{{patient.appointmentDate}}</td>
          <td>{{patient.checkup_status}}</td>
        </tr>
      </tbody>
    </table>
   </div>
  </form>
</div>