
 <div class="col mt-lg-3">
     <div class="container">
         <div class="row">
             <div class="col">
                 <h3 style="font-size: 40px;">Patient  Records</h3>
             </div>
             <div class="col" >
                 <!-- <button type="button" style="margin-left: 25%;" class="btn btn-primary btn-lg">New Patient</button> -->
             <!-- </div>
             <div class="col"> -->
             </div>
         </div>

         <hr>

         <table class="table caption-top" id="exportTable">
            <caption>RECORDS :-</caption>
            <thead class="bg-dark table-dark">
              <tr>
                <th scope="col">Index</th>
                <th scope="col">Doctor Preffered</th>
                <th scope="col">Department</th>
                <th scope="col">Day of visit</th>
                <th scope="col">Symptoms</th>
                <th scope="col">Checked Status</th>
                <th scope="col">Payment Slip</th>
                <!-- <th scope="col">Payment</th> -->
                <!-- <th scope="col">Prescription</th> -->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="patient in record">
                <th scope="row">{{$index + 1}}</th>
                <td>{{patient.doctor__first_name + " " + patient.doctor__last_name}}</td>
                <td>{{patient.department__departments}}</td>
                <td>{{patient.appointmentDate}}</td>
                <td>{{patient.symptoms}}</td>
                <td>{{patient.checkup_status}}</td>
                <td><button class="btn btn-outline-danger"><i class="fa fa-download"></i> Download</button></td>
                <!-- <td>{{patient.payment_status}}</td> -->
                <!-- <td><button type="button" class="btn btn-primary btn-sm">Download</button>
                  <button type="button" class="btn btn-secondary btn-sm">Reject</button></td>
                <td>{{patient.present}}</td> -->
              </tr>
              <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>pdf 2</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>pdf 3</td>
              </tr> -->

            </table>
            <button class="btn btn-outline-primary" ng-click="exportToExcel()">Export to Excel</button>

     </div>
 </div>
          
 
 <!-- $scope.exportToExcel = function () {
    // Create a new Workbook and add a Worksheet
    var wb = XLSX.utils.book_new();
    var ws = XLSX.utils.aoa_to_sheet([["Index", "Checked By", "Department", "Day of visit", "Status"]]);

    // Convert the table data to an array of arrays
    var tableData = [];
    angular.forEach($scope.record, function (patient) {
      var rowData = [$scope.record.indexOf(patient) + 1, "Dr. " + patient.doctor_name, patient.department__departments, patient.appointmentDate, patient.checkup_status];
      tableData.push(rowData);
    });

    // Add the table data to the worksheet
    XLSX.utils.sheet_add_aoa(ws, tableData, { origin: "A2" });

    // Add the worksheet to the workbook
    XLSX.utils.book_append_sheet(wb, ws, "Records");

    // Save the workbook as an Excel file
    XLSX.writeFile(wb, "records.xlsx");
  }; -->